{
  "presets": [
    "@babel/preset-react",
    ["@babel/env", {
      "modules": false
    }],
  ],
  "plugins": [
    "babel-plugin-styled-components",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
